html {
  height: 100%;
}
body {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(237, 229, 223, 0.5);
}
h2 {
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
li {
  margin: 1em;
}
a {
  text-decoration: none;
  color: rgba(13, 13, 13, 0.941);
  border-bottom: 1px double rgba(13, 13, 13, 0.941);
}
footer {
  padding: 30px;
  text-align: center;
}
input {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: solid #bcb6b6 1px;
  border-radius: 10px;
}
form {
  border: 1px solid #bcb6b6;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
}
.btn {
  padding: 0.8em;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.btn-signup {
  display: block;
  background-color: green;
  transition: background-color 0.2s;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
}
.btn-signup:hover,
.btn-signup:active {
  background-color: #0cb30c;
}
.btn-signup:active {
  transform: translateY(2px);
}
.error {
  color: red;
  margin: 0;
  font-size: 0.8rem;
  display: none;
}
.input-field {
  margin: 20px 0;
}
.success-notification {
  background-color: #0cb30c;
  max-width: 400px;
  padding: 10px;
  color: white;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  display: none;
}
table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
}
th,
td {
  border-bottom: 1px solid #604a4a;
  vertical-align: middle;
}
h1 {
  margin: 0 0 20px 0;
  text-align: center;
}
.btn-delete {
  background-color: red;
  color: white;
}
.btn-delete:hover,
.btn-delete:active {
  background-color: #ff4d4d;
}
.notification {
  display: none;
  text-align: center;
  width: 500px;
  background-color: #0cb30c;
}
